body{
	font-family: 'Cinzel Decorative', cursive;

}

div.container{
	background: url('../images/bg.jpg') center no-repeat;
	background-size: cover;	
	width: 100vw;
	max-height: 100vh;
}

.row-header{ border-bottom: 3px solid black; }	
.row-header .col-md-12 h1{ font-size: 64px; }
.row-header .col-md-12 h3{ font-size: 38px; }

.col-main div{
	font-size: 30px;
	font-weight: bold;	
	margin: 10px;	
	/*border : 1px solid black;*/
	height: 100px;
}

.col-image div{
	margin: 30px;
	border: 1px solid black;
}
